@use "variable" as var;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var.$font;
  width: 100%;
  background-color: aquamarine;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
#map {
  // min-height: 520px;
  // height: 100%;
  flex-grow: 1;
  position: relative;
  z-index: -1;
}
